@model IEnumerable<MusicStore.Models.Album>

@{
    ViewData["Title"] = "Albums";

    var genre = (Genre)ViewData["Genre"];
}

@using MusicStore.Helpers

<h2>Albums</h2>

<h4>@genre.Name Albums</h4>

<hr />

<div class="container">
    <ul class="row list-unstyled" id="album-list">
        @foreach (var album in Model)
        {
            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
                <a asp-controller="Store" asp-action="Details" asp-route-id="@album.AlbumID">
                    <img alt="@album.Title" src="/content/@album.AlbumArtUrl" width="100" />
                    <br />&nbsp;<br />
                                <div>@MyHelper.Truncate(@album.Title, 20)</div>
                </a>
            </li>
        }
    </ul>
</div>
